node_modules
dist
ting-reader-backend/cache
ting-reader-backend/storage
ting-reader-backend/*.db
ting-reader-backend/*.db-journal
ting-reader-backend/*.log
.github/*
.env
.git
.gitignore
README.md
ting-reader-fpk
